.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.home .home-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.gif {
  filter: drop-shadow(0 0 2em #61dafbaa);
  border-radius: 100%;
}

.icon-home {
  align-items: center;
  width: 80px;
}

.home-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h3 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.home h4 {
  color: rgb(107, 99, 99);
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.home-info {
  padding-top: 10px;
  padding-bottom: 15px;
}

.btn-downloadcv-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-downloadcv {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-btn {
  display: flex;
  border-radius: 5px;
  border: 1px solid greenyellow;
  padding: 5px;
  cursor: pointer;
}

.box-btn:hover {
  border: 1px solid magenta;
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: indigo;
}

.box-btn img {
  margin-left: 5px;
  margin-right: 5px;
}
.box-btn p {
  margin-right: 5px;
}

.navbar-float {
  top: 25%;
  left: 5px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.navbar-menu-float p {
  color: blueviolet;
  margin-left: 5px;
  display: none;
}

.link-float {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.icon-menu-float {
  width: 25px;
}

.icon-menu-float:hover {
  transform: scale(1.4);
}

@media (max-width: 1050px) {
  .home-info {
    margin-left: 20px;
  }
}
