.navbar {
  padding: 2px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  border: 1px solid #49557e;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.navbar-left .logo {
  width: 150px;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 240px;
  min-width: 200px;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  color: #49557e;
  font-size: 14px;
}

.navbar-menu a {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}

.navbar-menu a:hover {
  color: white;
}

.nabvar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 5px;
}

.menu-link img {
  margin-right: 5px; /* Espacio entre la imagen y el texto */
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #1f263d;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #fa26a0;
  color: #fa26a0;
}

.navbar li {
  cursor: pointer;
  outline: none;
}

.navbar-search-icon {
  position: relative;
  color: aliceblue;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -4px;
  right: -2px;
}

.icon-menu {
  width: 20px;
}

.icon-menu-bar {
  width: 25px;
}

.menubar {
  margin-right: 5px;
  display: none;
  cursor: pointer;
}

.navbar-menu-ia {
  display: none;
}

.menubar-ia {
  display: flex;
}

/*
@media (max-width: 1050px) {
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .nabvar-right {
    gap: 30px;
  }
  .nabvar-right img {
    width: 22px;
  }
  .nabvar-right bottom {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .nabvar-right {
    gap: 20px;
  }
  .nabvar-right img {
    width: 20px;
  }
  .nabvar-right bottom {
    padding: 7px 20px;
    font-size: 15px;
  }
}
*/

.submenu {
  display: none;
  position: absolute;
  width: 100px;
  top: 70%;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  border-radius: 3px;
}

.submenu p {
  margin-left: 10px;
}

.menu-item:hover .submenu {
  /* Mostrar submenú cuando se hace hover sobre el elemento principal del menú */
  display: block;
}

.submenu-list {
  display: flex;
  justify-content: start;
}

.item-submenu {
  width: 100%;
}

.submenu-list:hover {
  /* Estilos adicionales al hacer hover sobre los elementos del submenú */
  background-color: #1f263d;
}
@media (max-width: 1350px) {
  .navbar-menu {
    display: none;
  }
  .menubar {
    display: flex;
  }

  .nabvar-right {
    width: 100%;
    justify-content: flex-end;
  }

  .navbar-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 55px;
    left: 0px;
    width: 200px;
    background: black;
    border: 1px solid #49557e;
    box-shadow: 0 40px rgb(red, green, blue);
    padding: 40px 0 0 10px;
    height: 95vh;
    overflow: scroll;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-items: start;
  }

  .menu-link {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  #list-menu {
    /* Estilos anteriores... */
    transition: left 0.3s ease;
  }
  #list-menu.list-active {
    left: -200px;
  }
}

@media only screen and (max-width: 720px) {
  .submenu {
    margin: 0;
    margin-top: -82%;
    margin-left: 20%;
  }
}
