.gallery {
  --s: 150px; /* control the size */
  --g: 10px; /* control the gap */
  display: grid;
  margin: calc(var(--s) + var(--g));
}

.gallery-image {
  width: 300px;
  height: 300px;
}

.gallery > div {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: translate(var(--_x, 0), var(--_y, 0)) scale(var(--_t, 1));
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.2s linear;
  height: 130px;
}
.gallery > div:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.gallery > div:nth-child(1) {
  --_y: calc(-100% - var(--g));
}
.gallery > div:nth-child(7) {
  --_y: calc(100% + var(--g));
}
.gallery > div:nth-child(3),
.gallery > div:nth-child(5) {
  --_x: calc(-75% - 0.87 * var(--g));
}
.gallery > div:nth-child(4),
.gallery > div:nth-child(6) {
  --_x: calc(75% + 0.87 * var(--g));
}
.gallery > div:nth-child(3),
.gallery > div:nth-child(4) {
  --_y: calc(-50% - 0.5 * var(--g));
}
.gallery > div:nth-child(5),
.gallery > div:nth-child(6) {
  --_y: calc(50% + 0.5 * var(--g));
}
