.skillbox-title {
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.skillbox {
  text-align: center;
}

.skillbox .skill-box-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Cambiado para ajuste automático */
  gap: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.skillbox-box {
  box-shadow: 0 5px 10px rgba(183, 157, 157, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  width: 200px;
  background-color: #03061f;
  margin: 2px;
}

.skillbox-box:hover {
  filter: drop-shadow(0 0 0.2em #61dafbaa);
  background-color: #050a30;
}

.skillbox-box h3 {
  padding: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
}

.skillbox-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillbox-box img {
  max-width: 300px;
}

.skillbox-info {
  padding-top: 10px;
  padding-bottom: 15px;
}

.skillbox .skillbox-box-container .skillbox-box p {
  color: grey;
  font-size: 15px;
  line-height: 1.8;
}

.skillbox .skillbox-box-container .skillbox-box {
  margin-top: 10px;
  display: inline-block;
  color: grey;
  font-size: 17px;
  border-radius: 5px;
}

.box-footer-skillbox {
  margin-bottom: 0;
}

.box-footer-skillbox h4 {
  padding: 5px;
  font-weight: bold;
  color: beige;
  font-size: 14px;
}

.skillbox-icons {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skillbox-icons img {
  margin: 10px;
}

.skillbox-icon {
  width: 60px;
}

.skillbox-icon:hover {
  transform: scale(2);
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ccc;
  margin: 20px auto;
}

.underline-skillbox {
  width: 100%;
  height: 7px;
  background: #050a30;
  top: 5px;
  left: 0;
  z-index: 0;
}

.underline-skillbox span {
  width: 150px;
  height: 100%;
  background: #0c2d48;
  border-radius: 2px;
  top: 5px;
  bottom: auto;
  left: 10px;
  animation: moving 2s linear infinite;
  z-index: 2;
}

.floating-icons {
  position: absolute;
  top: 10px;
  right: 5px;
}

.floating-link {
  display: block;
  background-color: #0c2d48;
  border-radius: 100%;
  padding: 4px;
  margin-bottom: 10px;
  color: #333;
}

.floating-link:hover {
  filter: drop-shadow(0 0 0.3em #ff0202aa);
}

.icon-floating {
  width: 20px;
}

@media (max-width: 1360px) {
  .skill .skill-box-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(450px, 1fr)
    ); /* Cambia a dos columnas en pantallas pequeñas */
  }
}

@media (max-width: 530px) {
  .skill .skill-box-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* Cambia a dos columnas en pantallas pequeñas */
  }
}
