.task-box-container {
  display: flex;
  gap: 20px;
}

.task-box-right {
  flex: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(183, 157, 157, 0.2);
  align-items: center;
  align-content: center;
}

.task-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.cv-btn-task-box {
  position: fixed;
  top: 45px;
  right: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.cv-btn-task {
  border: 1px solid greenyellow;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.cv-btn-task p {
  padding-left: 10px;
}

.cv-btn-task:hover {
  border: 1px solid magenta;
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: indigo;
}

.btn-task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.task-form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.task-form-container {
  max-width: 600px;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-color: black;
  border: 4px solid rgb(98, 88, 88);
  box-shadow: 0 5px 10px rgba(183, 157, 157, 0.2);
  margin-top: 15px;
  position: relative;
}

.close-form {
  display: flex;
  justify-content: end;
  padding: 4px;
  position: absolute;
  right: 15px;
}

.close {
  color: rgb(168, 5, 5);
}

.close:hover {
  color: red;
}

@media (max-width: 1200px) {
  .task-box-container {
    display: flex;
    flex-direction: column;
  }
  .task-box-right {
    max-height: none;
    overflow: hidden;
  }

  .icon-task {
    width: 600px;
  }
}
